{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 140,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": true
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 140,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": true
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 140,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": true
      }
    }
  ]
}